/* Custom styles for React Quill */
.ql-container {
    font-size: 16px;
    font-family: inherit;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.ql-toolbar {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #f9fafb;
}
.ql-editor {
    min-height: 200px;
}
